
.navigation-container {
    background-color: #808080;
}

.canvas-container {
    background-color: #dbdbdb;
}

.box-container {
    background-color: #ff00ff;
}

.box {
    background-color: blueviolet;
    border-color: blue;
}