*{
    padding: 0;
    margin: 0;
}

html {
    position: fixed;
}

.wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.canvas-container {
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.canvas {
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 200%;
    min-height: 200%;
}

.box {
    margin: 15vw;
    min-width: 220px;
    min-height: 220px;
    padding: 20px;
    border-width: 3px;
}

.navigation-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 220px;
}

.logo-container {
    align-self: center;
    margin-bottom: 20px;
}

.nav ul {
    padding: 20px;
}
.nav ul li {
    line-height: 28px;
}