
.wrapper {
	font-family: 'Roboto', sans-serif;
	background-image: url("../assets/background.jpg");
	background-position: 0 0;
	background-size: 130%;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.canvas-container {
	-webkit-overflow-scrolling: touch;
}

.box {
	border-style: solid;
	font-size: 0.9em;
	line-height: 1.8em;
	border-width: 2px;
	transition-property: border-color, box-shadowm;
	transition-duration: 300ms;
}

.nav-item {
	cursor: pointer;
	transition: background-color 300ms;
	line-height: 1.8em;
}

.form-container {
	transition: opacity 300ms;
	opacity: 1;
}

.form-container.hidden {
	opacity: 0;
}

.form-successfully,
.form-is-loading {
	visibility: hidden;
	opacity: 0;
	transition: opacity 300ms;
}

.form-successfully.initial,
.form-is-loading.initial {
	opacity: 1;
	visibility: initial;
}

.form-is-loading {
	background-image: url("../assets/spinner.svg");
	background-repeat: no-repeat;
	background-position: center;
}

textarea:active,
textarea:focus,
input:active,
input:focus {
	outline: none;
}

textarea {
	resize: vertical;
}

input,
textarea {
	border-width: 2px;
	border-style: solid;
	border-radius: 0;
	transition-property: border-color;
	transition-duration: 300ms;
	font-size: 1em;
	font-weight: 400;
	padding: 8px;
	box-shadow: none;
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
}

input[type="submit"] {
    border-width: 0;
}

.box h3 {
	font-weight: 300;
	font-size: 2.2em;
}

label {
	font-size: 0.8em;
    font-weight: 700;
}

.is-loading {
	background-color: white;
    background-image: url("../assets/spinner.svg");
	background-repeat: no-repeat;
	background-position: center;
	transition: opacity 3000ms;
}
.is-loading.hidden {
	visibility: hidden;
}